<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<h1>My To-Do List</h1>
<ul>
    <form action='/lists' method="POST">
        <input type="text" name="title" />
    <input type="submit" name="body"  value="OK" />
    </form>
</ul>
</body>
</html>
