<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<a href="/">My List</a>
<h1>Create your list</h1>
<ul>

    <form action='/all-lists' method="POST">
        <input type="text" name="title" />
    <input type="submit" name="body"  value="OK" />
    </form>
</ul>
</body>
</html>
