<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/CSS/input.css">
    <title><%= title %></title>
</head>

<h1>Create your list</h1>
<ul>

    <form action='list' method="POST">
        <input type="text" name="title" />
        <input type="submit" name="body"  value="OK" />
    </form>
    <div class="checkbox">
        <ul>
            <% lists.forEach((list) => { %>
                <li>

                    <h3 ><%= list.title %> <input type="checkbox" name="tasks" value="<%= list._id %>"></h3>
                </li>
            <% }); %>
        </ul>
    </div>
</ul>
</body>
</html>