<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/CSS/content.css">
    <link rel="stylesheet" type="text/css" href="/CSS/input.css">
    <link rel="stylesheet" type="text/css" href="/CSS/OK-container.css">
    <link rel="stylesheet" type="text/css" href="/CSS/checkbox.css">
    <link rel="stylesheet" type="text/css" href="/CSS/title.css">
    <link rel="stylesheet" type="text/css" href="/CSS/global.css">
    <title ><%= title %></title>
</head>
<body>

<div class="content">
    <h1 class="title">Create your list</h1>
    <div>

        <form action='list' method="POST">
            <input type="text" name="title" class="input"/>
            <input type="submit" name="body" value="OK" class="OK-container"/>
        </form>
        <div class="checkbox" class="checkbox">

            <% lists.forEach((list) => { %>


                <h3><%= list.title %> <input type="checkbox" class="deletion" name="tasks" data-doc="<%= list._id %>">
                </h3>

            <% }); %>

        </div>
    </div>


    <script>
        const elements = document.querySelectorAll('input.deletion');

        for (let i = 0; i < elements.length; i++) {
            elements[i].addEventListener('click', (e) => {
                const endpoint = `/list/${elements[i].dataset.doc}`;
                fetch(endpoint, {
                    method: 'DELETE'
                })
                    .then((response) => response.json())
                    .then((data) => elements[i].parentElement.remove());
            });
        }
    </script>
</body>
</html>